<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <button ion-button full (click)='loginFb()'  *ngIf="!provider.loggedIn">Login with Fb</button>
 <button ion-button full (click)='loginGoogle()'  *ngIf="!provider.loggedIn">Login with Google</button>

 <ion-card *ngIf="provider.loggedIn">
    <img src="{{provider.profilePic}}"/>
    <ion-card-content>
      <ion-card-title>
        {{provider.name}}
        </ion-card-title>
      <p>
        Email: {{provider.email}}
      </p>
    </ion-card-content>
  </ion-card>

  <button ion-button full (click)='logout()'  *ngIf="provider.loggedIn">Logout</button>


</ion-content>
